.navbar {
    z-index: 100;
    position: fixed;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: slide-in 0.5s 0s ease-in forwards 1 normal running;
}

@keyframes slide-in {
    from {
        top: 110%;
    }
}

.navbar-list {
    padding: 12px;
    border-radius: 10px;
    display: flex;
    list-style: none;
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: space-between;
}

.navbar-listitem a {
    padding: 12px 15px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: 0.5s ease all;
}

.navbar-listitem a:hover {
    background-color: rgb(0, 34, 106);
    backdrop-filter: blur(8px);
}

svg path {
    stroke: white
}